body {
    font: 12px Helvetica, Arial, sans-serif;
    word-break: break-all;

    height: 20%;
    margin-bottom: 5cm;

    background-color: #aaaaaa;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
}

#footerContainer {
    flex: 1;
}

#footerList {
    padding: 0.1cm 0.2cm 0.1cm 0.2cm;
    background-color: black;
    color: white;
    opacity: 0.75;
}

#footerList:hover {
    opacity: 1;
}

#onlineStatus {
    margin-bottom: 0.15cm;
    float: right;
}

.hidden {
    display: none;
}

.pointer, a, .linkButton {
    cursor: pointer;
}

.correctAnswer {
    text-align: center;
    font-size: 200%;
}

/*sigh*/
.linkButton {
    background-color: transparent;
    border: none;
    display: inline;
    margin: 0;
    padding: 0;
    color: rgb(65, 131, 196);
    font: inherit;
    font-weight: bold;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: move;
}

.sortableHelper {
    z-index: 100000;
}
