body {
    font: 12px Helvetica, Arial, sans-serif;

    height: 20%;
    margin-bottom: 5cm;

    background-color: #aaaaaa;
}

footer {
    text-align: center;
    font-weight: bold;
    background-image: linear-gradient(#555555, #DDDDDD 20%);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#footerList {
    padding: 0.2cm 0 0.1cm 0;
}

#footerList:hover {
    opacity: 1;
}

#onlineStatus {
    margin-bottom: 0.15cm;
    float: right;
}

.fillContent {
    flex-grow: 1;
    min-height: 5em;
}

.questionTree p {
    margin: 0;
}

.hidden {
    display: none;
}

.pointer, a, .linkButton {
    cursor: pointer;
}

.correctAnswer {
    text-align: center;
    font-size: 200%;
}

/*sigh*/
.linkButton {
    background-color: transparent;
    border: none;
    display: inline;
    margin: 0;
    padding: 0;
    color: rgb(65, 131, 196);
    font: inherit;
    font-weight: bold;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: move;
}

.noTopMargin {
    margin-top: 0 !important;
}

.sortableHelper {
    z-index: 100000;
}
